@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}